#miDiv1{
    
    float: left;
    border: 1px rgb(3, 3, 5) solid;
    width: 450px;
    height: 680px;
}

#miDiv2{
    margin: auto;
    border: 1px rgb(3, 3, 5) solid;
    width: 750px;
    height: 300px; 
}

#miDiv3{
    margin: auto;
    border: 1px rgb(3, 3, 5) solid;
    width: 750px;
    height: 210px;
}

#miDiv4{

    margin: auto;
    border: 1px rgb(3, 3, 5) solid;
    width: 750px;
    height: 166px;
}
